wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
wifi_hotspot_password: "12345678"
ota_password: ""
api_encryption_key: "Cg/+mx6ZdH2QBdrmrKtg/zmG0TK/IDHBBr3DUJDXKpo=" # random key from https://esphome.io/components/api.html#configuration-variables
ble_mac_address: "A0:B1:C2:D3:E4:F5"
