wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
wifi_hotspot_password: "12345678"
ota_password: ""

# First car and first esp32
api_encryption_key_louie: "Cg/+mx6ZdH2QBdrmrKtg/zmG0TK/IDHBBr3DUJDXKpo=" # random key from https://esphome.io/components/api.html#configuration-variables
ble_mac_address_louie: "A0:B1:C2:D3:E4:F5"
tesla_vin_louie: "5YJ30123456789ABC" # mock VIN example from PROTOCOL.md

# Second car and second esp32
api_encryption_key_jinny: "Cg/+mx6ZdH2QBdrmrKtg/zmG0TK/IDHBBr3DUJDXKpo=" # random key from https://esphome.io/components/api.html#configuration-variables
ble_mac_address_jinny: "A1:B1:C2:D3:E4:F5"
tesla_vin_jinny: "5YJ30123456789ABD" # mock VIN example from PROTOCOL.md
